@font-face {
  font-family: "stick";
  src: url("../assets/fonts/Stick-Regular.ttf") format("ttf");
  src: url("../assets/fonts/Stick-Regular.woff2") format('woff2'),
        url("../assets/fonts/Stick-Regular.woff") format('woff');
}

body {
	font-family:stick;
	background: #AEC4F3;
	color: purple
	font-size: 50px;
}

p {
	background: transparent;
}
/*个人网页*/