* {
	box-sizing: border-box;
	background:#2700ff69;
}

/* type */

body{
	font-family: 'Arial', sans-serif;
}

/* text */

p {
	font-size: 30px;
}

/* try uncommenting below to see text changes on hover */

p:hover {
	letter-spacing: 2px;
	border:solid yellow
	transform: translate(70px, 50px) rotate(50deg);
	width: 200px;
	height: 100px
	text-transform:lowercase;
}


/* 

CSS shapes 
https://css-tricks.com/the-shapes-of-css/

*/

.shape{
	display: inline-block;
	padding: 20px;
	vertical-align: top;
	position: relative;
}

/* try uncommenting below to see blur on hover */

/*.shape:hover div {
	filter: blur(10px);
} */

/* circles */

.circle {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: pink;
	position:fixed;
}

.circle:hover {
    background: purple; 
    filter: blur(30px);

.oval {
	width: 300px;
	height: 100px;
	background: #39d9e0;
	border-radius: 150px / 50px;
}

.sliver {
	width: 300px;
	height: 40px;
	background: yellow;
	border-radius: 150px / 20px;
}

/* square */

.rect {
	width: 40px;
	height: 437px;
	background: lightyellow;
	display: inline-block;
	margin: 0px 5px;
}

.rect:hover {
    background: blue; 
    filter: blur(30px);


/* stars */

.star {
	background: skyblue;
	width: 80px;
	height: 80px;
	position: relative;
	text-align: center;

	transform-origin: top left;
	transform: scaleX(2) scaleY(4.25) translateX(10px) translateY(10px);
}

.star:before,
.star:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 80px;
	background: purple;
}

.star:before {
	transform: rotate(30deg);
}

.star:after {
	transform: rotate(60deg);
}

p: hover {
	opacity:0.3;
	transition:0.3s;