<style type="text/css">
body{
    position: absolute;
    }



.box{
    height: 240px;
    width: 240px;
    animation-iteration-count: infinite;
    animation-name:blow;
    animation-duration:2s;
    animation-timing-function: linear;
   }

.r1{
    height: 120px;
    width: 60px;
    border-radius: 60px 0px 0px 60px;
    background:#BECBCF;
    position: absolute;
    top:120px;
    left: 60px; 
   }

.r2{
    height: 60px;
    width: 120px;
    background:#6E7D75;
    border-radius: 60px 60px 0px 0px;
    position: absolute;
    top: 60px;
    }

.r3{
    height: 60px;
    width: 120px;
    background:#CE7870;
    border-radius: 0px 0px 60px 60px;
    position: absolute;
    left: 120px;
    top: 120px;
   }

.r4{
    height: 120px;
    width: 60px;
    background:#ECBCB0;
    border-radius: 0px 60px 60px 0px;
    position: absolute;
    left: 120px;
   }

.c5{
    height: 20px;
    width: 20px;
    background:#826A5F;
    border-radius: 100px;
    position: absolute;
    top: 110px;
    left: 110px;
   }

.r6{
    height: 240px;
    width: 10px;
    background: #EBA966;
    position: absolute;
    top: 120px;
    left: 123px;
   }

 @keyframes blow{
    from{
    transform:rotate(0deg);
    }
    to{
    transform: rotate(360deg);
    }
    }
  </style>